# Node.js dependencies
node_modules/
package.json
package-lock.json

# Temporary files
*.tmp
*.log
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build outputs
dist/
build/