# Node.js dependencies
node_modules/
package.json
package-lock.json

# Temporary files
*.tmp
*.log
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build outputs
dist/
build/
.htaccess
lighthouse-en-v2.json
lighthouse-en-v3.json
lighthouse-es-v2.json
lighthouse-es-v3.json
